<%- include('partials/header'); -%>
<h1>Congratulations, Your Sign Up Was Successful!</h1>
<p>Click <a href="./">Home Page</a> to go to Home Page.</p>
<p>Click <a href="./dashboard">Dashboard</a> to go to Dashboard.</p>
<%- include('partials/footer'); -%>